.validation-status {
  position: absolute;
  top: 64px;
  left: 24px;
  right: 24px;
  width: fit-content;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.validation-status-good {
  background: rgba(34, 204, 102, 0.9);
}

.validation-status-bad {
  background: rgba(255, 68, 68, 0.9);
}

.validation-status-neutral {
  background: rgba(0, 0, 0, 0.55);
}
